* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--color-1);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}