@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-1: #141414;
  --color-2: #f5f5f5;
  --color-3: #525252;
  --color-4: #E0E0E0;
  --color-5: #a3a3a3;
  --color-6: #8f8f8f;
  --color-7: #cccccc;
  --color-gradient-1: #264de4;
  --color-gradient-2: #2965f1;
  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', Arial, sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  color: var(--color-1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
}

.header nav .header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.header nav .header-menu a {
  font-size: 1.8rem;
  line-height: 1.3;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--color-1);
  display: block;
}

.header nav .header-menu a:hover {
  color: var(--color-gradient-1);
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
  }
  .header a {
    background: var(--color-2);
    border-radius: .5rem;
  }
}

.container {
  max-width: 120rem;
  padding: 4rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10rem;
}

.introducao {
  align-items: center;
}

.introducao div h1 {
  font-size: 6.4rem;
  line-height: 1.125;
  margin-bottom: 3rem;
  position: relative;
}

.introducao div h1::before {
  content: "";
  display: block;
  width: 13rem;
  height: 10rem;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -1.5rem;
  left: -4rem;
  z-index: -1;
}

.introducao div p {
  font-size: 2.4rem;
  color: var(--color-3);
}

@media (max-width: 1000px) {
  .introducao div h1::before {
    width: 3rem;
    height: 10rem;
  }
  .introducao div p {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  .introducao div h1 {
    font-size: 4.8rem;
  }
  .introducao div p {
    font-size: 1.8rem;
  }
  .introducao div h1::before {
    width: 3rem;
    height: 1rem;
    left: 0rem;
  }
}

@media (max-width: 500px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}

.subtitulo {
  font-size: 12rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  width: 4ch;
}

.experiencia .subtitulo {
  color: var(--color-4);
}

.texto {
  font-size: 2.4rem;
  line-height: 1.33;
  max-width: 45ch;
  margin-bottom: 6rem;
  color: var(--color-3);
}

.experiencia .experiencia-texto strong {
  color: var(--color-1);
}

.experiencia .empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  padding: 2rem;
  background: var(--color-2);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  position: relative;
}

.experiencia .empresa::before {
  content: '';
  display: block;
  width: .5rem;
  height: 2rem;
  background: linear-gradient(var(--color-gradient-1), var(--color-gradient-2));
  position: absolute;
  top: 2rem;
  left: -0.5rem;
}

.experiencia .empresa a {
  color: var(--color-1);
}

.experiencia .empresa a:hover {
  color: var(--color-gradient-1);
}

.experiencia .empresa .empresa-ano {
  position: absolute;
  top: 2.2rem;
  left: -10rem;
  color: var(--color-3);
  font-size: 1.4rem;
  width: 6rem;
  text-align: right;
}

.experiencia .empresa .empresa-titulo {
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: bolder;
}

.experiencia .empresa .empresa-texto {
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--color-3);
}

.experiencia .empresa .empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: flex-start;
}

.experiencia .empresa .empresa-habilidades li {
  font-size: 1.4rem;
  line-height: 1.4;
  border-radius: .5rem;
  background: var(--color-white);
  padding: .5rem 1rem;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .subtitulo {
    font-size: 4.8rem;
    text-transform: capitalize;
    width: initial !important;
  }
  .experiencia .subtitulo {
    color: var(--color-1);
  }
  .experiencia .empresa .empresa-texto {
    font-size: 2rem;
  }
  .experiencia .empresa .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
  .experiencia .empresa .empresa-ano::before {
    content: 'Ano: ';
  }
}

@media (max-width: 500px) {
  .experiencia .empresa {
    grid-template-columns: 1fr;
  }
}

.formacao {
  background: var(--color-1);
  color: var(--color-white);
}

.formacao-container {
  padding: 12rem 2rem;
  position: relative;
}

.formacao-container::after {
  content: '';
  display: block;
  width: 13rem;
  height: 10rem;
  background: url('../img/detalhe.svg') no-repeat center center;
  position: absolute;
  bottom: -5rem;
  left: 2rem;
}

.formacao .subtitulo {
  color: var(--color-black);
  width: 5ch;
}

.formacao .formacao-texto {
  color: var(--color-5);
}

.formacao .formacao-texto strong {
  color: var(--color-white);
}

.formacao .faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 6rem;
}

.formacao .faculdade-lista .faculdade {
  flex: 1;
  background: var(--color-black);
  padding: 2rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
}

.faculdade-lista .faculdade .faculdade-tipo {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--color-5);
  margin-bottom: 1rem;
}

.faculdade-lista .faculdade .faculdade-curso {
  flex: 1;
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 4rem;
  position: relative;
}

.faculdade-lista .faculdade .faculdade-curso::before {
  content: '';
  display: block;
  width: .5rem;
  height: 2rem;
  background: linear-gradient(var(--color-gradient-1), var(--color-gradient-2));
  position: absolute;
  left: -2.5rem;
}

.faculdade-lista .faculdade .faculdade-instituicao {
  font-size: 1.8rem;
  color: var(--color-5);
  text-transform: uppercase;
}

.cursos {
  margin-bottom: 6rem;
}

.formacao-extra h3 {
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--color-6);
  text-transform: uppercase;
  margin-bottom: 3rem;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: '';
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: -3.6rem;
  top: -.4rem;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.8rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.formacao-extra span {
  color: var(--color-6);
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao-container {
    padding: 6rem 2rem;
  }
  .formacao .subtitulo {
    color: var(--color-white);
  }
  .formacao-texto {
    font-size: 1.8rem;
  }
  .formacao-extra h3::before{
    position: static;
    margin-bottom: 1rem;
  }
}

.footer {
  background: var(--color-black);
}

.footer-container {
  padding: 12rem 2rem 6rem 2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.footer-texto {
  font-size: 2.4rem;
  line-height: 1.33;
  color: var(--color-7);
}

.footer-contato li {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.1;
  color: var(--color-white);
  margin-bottom: 3rem;
}

.footer-contato li a {
  color: var(--color-white);
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.8rem;
  color: var(--color-6);
}